* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    /* font-family: sans-serif; */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.6) url(./assets/background-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.navbar {
    /* position: sticky;
    top: 0; */
    padding-top: 20px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    padding-top: 30px;
    margin-left: 100px;
    width: 150px;
}

ul {
    padding: 18px;
    display: flex;
    list-style: none;
}

ul li a {
    font-size: 17px;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover {
    transform: translateY(-5px);
    transition: 0.4s;
    color: aqua;
}

.contactButton {
    padding-top: 25px;
    padding-right: 35px;
}

.contactButton button {
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background-color: #0ec9ac;
    padding: 18px 28px;
}

.contactButton button:hover {
    box-shadow: 2px 2px 15px white,
        2px 2px 15px white;
    background-color: transparent;
    border: 1px solid white;
}

.backgroundSection {
    display: flex;
    justify-content: space-evenly;
}

.backgroundImg {
    padding-top: 50px;
    padding-right: 30px;
}

.backgroundImg img {
    height: 515px;
    width: auto;
    opacity: 0;
    transform: translateX(90px);
    animation: imageAnimation 1s alternate forwards;
    animation-delay: 0.7s;
    /* animation: imageAnimation 5s ease-in-out;
    animation-timeline: view();
    animation-range: enter 0% cover 40%; */
}

@keyframes imageAnimation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.content {
    margin-left: 210px;
}

.content h1 {
    text-shadow: 2px 9px 5px black;
    font-size: 48px;
    margin-top: 200px;
    color: white;
    letter-spacing: 1px;
    line-height: 60px;
}

.content p {
    line-height: 26px;
    color: rgb(144, 175, 212);
    padding-top: 30px;
    font-size: larger;
}

.content h1 span {
    color: aqua;
}

.button {
    padding-top: 40px;
}

.button button {
    background-color: #0ec9ac;
    color: white;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    box-shadow: 0px 15px 10px rgb(0, 24, 27);
}

.button button:hover {
    box-shadow: 2px 2px 15px white,
        2px 2px 15px white;
    background-color: transparent;
    border: 1px solid white;
}


.section-1 {
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;

}

.card {
    /* background-color: blue; */
    height: 260px;
    padding: 20px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    margin-right: 180px;
    margin-left: 180px;
}

.card-1 {
    box-shadow: 5px 15px 15px #00050a;
    width: auto;
    border-radius: 10px;
    padding: 35px;
    padding-left: 45px;
    margin: 20px;
    /* background-color: #00142c; */
    background-color: #031f4282;
    /* background-blend-mode: darken; */
}

.card-1:hover {
    transform: translateY(-30px);
    transition: 1s;
}

.headings-1 {
    display: flex;
}

.headings-1 h3 {
    padding-left: 20px;
    padding-top: 10px;
}

.headings-2 {
    display: flex;
}

.headings-2 h3 {
    padding-left: 12px;
    padding-top: 7px;
}

.headings-3 {
    display: flex;
}

.headings-3 h3 {
    padding-left: 15px;
    padding-top: 1px;
}

.card-1 h3 {
    /* padding: 10px 10px; */
    /* text-align: center; */
    color: white;
    font-size: x-large;
}

.card-1 p {
    margin-top: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    width: 85%;
    color: rgb(144, 175, 212);
}

.card-1 img {
    height: 35px;
    width: auto;
}

.heading-4 {
    /* text-shadow: 5px 15px 10px rgb(26, 25, 25); */
    margin-top: 90px;
    margin-left: 300px;
}

.heading-4 h1 {
    text-shadow: 2px 9px 5px black;
    letter-spacing: 1px;
    color: rgb(238, 230, 230);
    font-size: 40px;
}

.heading-4 span {
    color: aqua;
}

.images {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.images img {
    height: 70px;
    width: auto;
}

.section-2 {
    margin-top: 60px;
    display: flex;
    /* background: rgba(0, 0, 0, 0.6) url(./assets/background-image-2.jpg);
    background-repeat: no-repeat; */
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
    /* position: relative; */
}

.cybersecurity-specialist img {
    border-radius: 15px;
    mix-blend-mode: difference;
    height: 850px;
    width: 780px;
}

.cybersecurity-specialist {
    position: relative;
}

.cybersecurity-specialist {
    margin-bottom: 10px;

}

.opportunities {
    border-radius: 0 15px;
    /* left: 20px; */
    background-color: #031f42f7;
    position: absolute;
    top: 570px;
    width: 410px;
    height: 280px;
    opacity: 0;
    transform: translateX(-20px);
    animation: imageAnimation 1s alternate forwards;
    /* animation-timeline: view();
    animation-range: enter 6 cover 50%; */
    animation-delay: 0.1s;

}

.heading {
    text-shadow: 2px 9px 5px black;
    letter-spacing: 1px;
    line-height: 30px;
    padding-left: 30px;
    margin-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 25px;
}

.paragraph {
    padding-right: 25px;
    line-height: 20px;
    padding-left: 30px;
    padding-top: 20px;
    color: rgb(175, 169, 169);
}

.view-cases {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.view-button {
    /* text-align: center; */
    font-weight: 600;
    color: #0ec9ac;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 30px;
}

.view-cases span {
    padding-top: 18px;
}

.view-cases span i {
    color: #0ec9ac;
    font-size: large;
    font-weight: 600;
    margin-left: 2px;
}

.protection-overview {
    padding-left: 100px;
    padding-right: 80px;
    padding-top: 100px;
}

.protection-overview span {
    padding-top: 15px;
    letter-spacing: 1px;
    color: #0ec9ac;
    font-size: 20px;
}

.protection-overview h1 {
    text-shadow: 2px 9px 5px black;
    color: white;
    padding-top: 30px;
    font-size: 40px;
}

.protection-overview p {
    color: rgb(144, 175, 212);
    padding-top: 45px;
    line-height: 25px;
    font-size: 17px;
}

.service-section {
    padding-top: 50px;
    display: flex;
}

.service-section p {
    color: rgb(144, 175, 212);
    padding-top: 20px;
    line-height: 25px;
    font-size: 17px;
}

.high-quality-service img {
    height: 50px;
}

.high-quality-service h3 {
    color: white;
    padding-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

.Effective-Protection {
    padding-left: 29px;
}

.Effective-Protection img {
    height: 50px;
}

.Effective-Protection h3 {
    color: white;
    padding-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

.trial-button {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    background-color: #0ec9ac;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 20px 50px;
    margin-top: 55px;
}

.trial-button:hover {
    box-shadow: 2px 2px 15px white,
        2px 2px 15px white;
    background-color: transparent;
    border: 1px solid white;
}

.section-3 {
    margin-top: 100px;
    /* 
    background: rgba(0, 0, 5, 0.6) url(./assets/background-img-1.jpg);
    background-repeat: no-repeat; */
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
}

.image-container {
    margin-top: 20px;
    margin-right: 10px;
}

.young-hacker {
    mix-blend-mode: lighten;
    height: 500px;
    border-radius: 10px;
}

.threat-section {
    display: flex;
    justify-content: space-between;
}

.threat-container {
    /* width: 500px; */
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 50px;
}

.threat-container span {
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 30px;
    font-size: 19px;
    color: #0ec9ac;
}

.threat-container h1 {
    text-shadow: 2px 9px 5px black;
    font-size: 40px;
    margin-top: 35px;
    color: white;
    font-weight: 600;
}

.threat-description {
    color: rgba(144, 174, 212, 0.683);
    padding-top: 20px;
    line-height: 25px;
    font-size: 17px;
    margin-bottom: 20px;
}

.threat-list {
    color: rgba(144, 173, 212, 0.683);
    padding-top: 15px;
    line-height: 20px;
    font-size: 17px;

}

.threat-list i {
    margin-top: 5px;
    font-size: 20px;
    padding-right: 15px;
    color: #0ec9ac;
}

.read-more-button {
    text-align: center;
    margin-top: 40px;
    padding: 20px 30px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 14px;
    background-color: #0ec9ac;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.read-more-button:hover {
    box-shadow: 2px 2px 15px white,
        2px 2px 15px white;
    background-color: transparent;
    border: 1px solid white;
}

.section-4 {
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.5) url(./assets/background-image-2.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-blend-mode: darken;
    height: 150vh;
    width: 100vw;
    position: relative;
    padding-bottom: 100px;
}

.trusted-service-container {
    margin-left: 200px;
    background-color: #021c3c;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    width: 66%;
    border-radius: 15px;
    top: -100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.trusted-service i {
    color: #0ec9ac;
    margin-left: 35px;
    font-size: 40px;
}

.trusted-service h1 {
    text-shadow: 2px 9px 5px black;
    letter-spacing: 1px;
    font-size: 35px;
    color: white;
    margin-left: 10px;
}

.trusted-service sup {
    color: #0ec9ac;
}

.trusted-service p {
    color: rgba(144, 174, 212, 0.683);
    margin-top: 10px;
    letter-spacing: 1px;
}

.offer-container {
    position: relative;
    padding-top: 250px;
    /* padding-left: 200px; */
    text-align: center;
}

.offer-container p {
    color: #0ec9ac;
    font-size: 18px;
    letter-spacing: 1px;
}

.offer-container h1 {
    text-shadow: 2px 9px 5px black;
    color: white;
    font-size: 40px;
    margin-top: 10px;
    letter-spacing: 2px;
}

.security-container {
    display: flex;
    height: 350px;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.security-container-2 {
    display: flex;
    height: 350px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.security-cards {
    margin: 15px;
    border-radius: 10px;
    padding: 30px;
    background-color: #021c3cd9;
}

.security-cards img {
    height: 70px;
}

.security-cards h2 {
    color: white;
    margin-top: 10px;
    letter-spacing: 1px;
    text-shadow: 2px 4px 5px black;
}

.security-cards p {
    color: rgba(144, 174, 212, 0.683);
    margin-top: 10px;
    letter-spacing: 1px;
}

.read-more {
    display: flex;
    justify-content: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #0ec9ac;
    background-color: transparent;
    border: none;
    margin-top: 18px;
    margin-left: 100px;
}

.read-more div {
    font-weight: bold;
    margin-top: 3px;
    font-size: 13px;
}

.read-more span i {
    color: #0ec9ac;
    margin-left: 3px;
    font-size: 19px;
    font-weight: bold;
}

.section-5 {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    background-image: url(./assets/coding-background.jpg);
    /* background-blend-mode: darken; */
    mix-blend-mode: soft-light;
}

.feature-card {
    text-align: center;
    color: white;
    padding-top: 130px;
}

.feature-card h1 {
    text-shadow: 2px 9px 5px black;
    margin-top: 50px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 38px;
    color: white;
}

.feature-card p {
    width: 50%;
    margin-top: 30px;
    font-size: 17px;
    /* letter-spacing: 1px; */
    margin-left: 350px;
    color: white;
}

.feature-card button {
    margin-top: 40px;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #0ec9ac;
}

.section-6 {
    /* margin-top: 100px; */
    background: rgba(0, 0, 0, 0.6) url(./assets/background-image-2.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-blend-mode: darken;
    height: 220vh;
    width: 100vw;
    position: relative;
    padding-bottom: 100px;
}

.news-section {
    text-align: center;
    padding-top: 100px;
}

.news-heading {
    font-size: x-large;
    letter-spacing: 1px;
    padding-top: 100px;
    color: #0ec9ac;
}

.news-section h1 {
    text-shadow: 2px 9px 5px black;
    font-size: 40px;
    font-weight: 500;
    padding-top: 10px;
    letter-spacing: 1px;
    color: white;
}

.news-cards {
    display: flex;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
}

.news-cards img {
    border-radius: 10px;
    /* margin-right: 200px; */
    margin: 17px;
    width: 350px;
    height: 270px;
}

.news-subtitle {
    color: rgba(144, 174, 212, 0.683);
    margin-left: 17px;
    text-align: left;
}

.news-title {
    color: white;
    /* width: 400px; */
    letter-spacing: 1px;
    margin-top: 15px;
    text-align: start;
    margin-left: 17px;
    font-size: 21px;
    font-weight: 500;
}

.news-info {
    width: 350px;
    color: rgba(144, 174, 212, 0.683);
    margin-left: 17px;
    margin-top: 15px;
    text-align: start;
    font-size: 16px;
}

.news-cards button {
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-left: 17px;
    margin-top: 15px;
    border: none;
}

.news-cards button div {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #0ec9ac;

}

/* .news-cards button span {
    margin-left: 3px;
    font-size: medium;
    color: #0ec9ac;
} */

.news-cards button span i {
    margin-left: 3px;
    font-size: medium;
    color: #0ec9ac;
}

.newsletter-section {
    background: #021e41c3 url(./assets/background-image-2.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    width: 74%;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    height: 360px;
    text-align: center;
}

.newsletter-heading {
    text-shadow: 2px 9px 5px black;
    padding-top: 50px;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
}

.newsletter-description {
    color: rgba(144, 174, 212, 0.683);
    font-size: 17px;
    width: 51%;
    margin-left: 270px;
    margin-top: 20px;
}

.subscribe-container {
    position: relative;
    margin-top: 20px;
}

.subscribe-container input {
    margin-top: 20px;
    width: 40%;
    position: relative;
    padding: 25px;
    border-radius: 10px;
    border: none;
    color: rgba(226, 233, 239, 0.784);
    font-size: medium;
}

.subscribe-container button {
    position: absolute;
    padding: 15px 30px;
    border-radius: 10px;
    bottom: 10px;
    right: 330px;
    border: none;
    background-color: #0ec9ac;
    font-weight: 600;
    text-align: center;
    font-size: medium;
    color: white;
    text-transform: uppercase;
}

.subscribe-container button:hover {
    box-shadow: 2px 2px 15px white,
        2px 2px 15px white;
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.footer-navbar {
    padding-top: 150px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.footer-navbar .logo {
    margin-left: 100px;
}

.app-logo {
    font-size: medium;
    margin: 5px;
    color: white;
    padding-top: 35px;
    margin-right: 100px;
}

.app-logo i {
    padding: 5px 10px;
    text-align: center;
    border-radius: 50%;
    background-color: #0ec9ac;
    font-size: medium;
    margin: 5px;
    color: white;
}

/* .app-logo:hover {
    transform: translateY(-5px);
    transition: 0.4s;
    color: aqua;
} */

hr {
    border: 1px solid rgba(102, 119, 141, 0.683);
    width: 74%;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
}

.terms-conditions {
    display: flex;
    gap: 20px;
}

.terms-conditions p:hover {
    color: #0ec9ac;
}

.terms-conditions p {
    color: white;
    font-weight: 400;
}

.copy-right p {
    color: white;
    font-weight: 400;
}

.copy-right span {
    color: #0ec9ac;
    font-weight: 400;
}